---
layout:      default
title:       Home
date:        2016-10-01 10:02
---

<section class="page">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12 col-xs-12">

        <p class="text-center date">
          <span id="datetime"></span>
          <span id="text"></span>
        </p>

      </div>
    </div>

  </div>
</section>
